<div class="footer-class">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© 2021</p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Developed By</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Maithili Kalkar</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Rushika Ghadge</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Kapish Shewale</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>UTA ID</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">1001 860670</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">1001 870794</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">1001 870794</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Contact</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">kxs0794@mavs.uta.edu</a></li>
      </ul>
    </div>
  </footer>
</div>