<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
          <li class="nav-item dropdown">
            <div class="dropdown">
                <button class="dropbtn">Search a Recipe<i class="arrow down"></i></button>
                <div class="dropdown-content">
                  <a href="#searchname">By name</a>
                  <a href="#searchingredient">By Ingredients</a>
                  <a href="#searchingred">By Image</a>
                </div>
              </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#uploadrecipe">Submit your own recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>