<div class="func2" >
    <div class="right">

        <h3 id="searchingred">Search Recipe by Ingredients</h3>
      <form action="/seach-ingredients" method="POST">
        <div class="form-input">
          <input type="text" name="ingredients-list" class="form-control" id="ingredients-list" placeholder="Enter a comma seperated list of ingredients that you have">
        </div>
        <div class="submit-button">
          <button type="submit" class="btn btn-primary">Find me Recipe!</button>
        </div>
      </form>

    </div>
  
    <div class="left">
      
    
    </div>
  </div>