<div class="func1" id="func1">
    <div class="left">
    </div>
  
    <div class="right">
      <h3 id="searchbyname">Search Recipe by Name</h3>
      <form action="/search" method="POST">
        <div class="form-input">
          <input type="text" name="input" class="form-control" id="input" placeholder="Enter name of dish">
        </div>
        <div class="submit-button">
          <button id="searchingredient" type="submit" class="btn btn-primary">Find me Recipie!</button>
        </div>
      </form>
    
    </div>
  </div>